.basket {
    display: flex;
    margin-top: 80px;
    width: 100%;
    min-height: calc(100% - 82px);
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
}

.basketTitle {
    display: flex;
    width: 100%;
    padding-left: 40px;
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0;
}

.basketPopup {
    padding: 2em;
    border: black 1px solid;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
