.asideField {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: sticky;
  top: 82px;
}

.asideCategories {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px 0 0;
  max-height: 180px;
  overflow-y: auto;
  background: white;
  position: relative;
}

.asideCategories span {
  padding: 5px;
  transition: 0.2s;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

/*not(.current)*/

.asideCategories span:hover {
  background: #ddd;
  padding-left: 20px;
}

.asideCategories span.current {
  /*background: #eee;*/
  padding-left: 20px;
  color: green;
}

.asideCategories span.current:before {
  content: '\2714';
  left: 7px;
  font-size: 12px;
  position: absolute;
}

.asideCategories span.current:hover {
  background: #ddd;
}

.title {
  margin: 10px 0 10px;
  font-size: 25px;
  font-weight: bold;
}

.aviability {
  display: flex;
  width: 100%;
  padding: 0 20px 0 0;
  gap: 10px;
}

.aviability:last-child {
  margin-top: 20px;
}

.avBtn {
  display: flex;
  width: 100%;
  padding: 2px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  border: 1px solid grey;
  border-radius: 3px;
  transition: 0.3s;
}

.avBtn.act {
  opacity: 0.8;
  pointer-events: none;
  /*color: #a8a802;*/
  /*border-color: #a8a802;*/
  color: dodgerblue;
  border-color: dodgerblue;
}

.avBtn:hover {
  color: green;
  border-color: green;
}
